* {
    box-sizing: border-box;
}

body{
    background-image: url('images/snow1.jpg');
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    min-height: 100vh;
    margin: 0%;
}

h1{
    font-size: 4rem;
    margin-top: 3rem;
}

.container{
    display: flex;
}

.big-text{
    font-weight: bold;
    font-size: 4rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown{
    text-align: center;
}

.countdown span{
    font-size: 1.4rem;
}
